<html>
<h1>My details</h1>

<body>
    <p>Hi, My name is Chamika Rukshan</p>

    {{#if hobbiesArray}}

    <p>I like {{hobby}} on the weekend.</p>

    <ul>
        {{#each hobbiesArray}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    {{else}}

    <p>I have no hobbies :(</p>

    {{/if}}


</body>

</html>